html{
    font-size: 22px;
}

body{
    min-height: 100vh;
    max-width: 800px;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

table,tr,th,td,caption,tfoot{
    border: 3px solid #433e3e;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}